<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="home-container">
        <h2>Hello {{ session['user'] }}</h2>
        <nav>
            <a href="{{ url_for('dashboard') }}"> Dash board</a>
            <a href="{{ url_for('chatbot') }}"> chatbot</a>
        </nav>
    </div>
</body>
</html>
